* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sidebar {
  /* width: 250px; */
  height: 1900vh;
  margin: 10px;
  padding: 10px;
}

.list-group a {
  height: auto;
  background-color: #303539;
  color: #f4f4f4;
  border: none;
}

.list-group a:hover {
  background-color: #1d6a96;
  color: #f4f4f4;
  transition: 0.7s;
}

.custom-bg {
  background-color: #f4f4f4;
}

.brand-name {
  color: #1d6a96;
}
.sidebarColor-bg {
  background-color: #303539;
}

.col-2 {
  width: 300px;
}

.btn-search {
  background-color: #1d6a96;
  color: #f4f4f4;
  width: 150px;
  border: none;
}

.btn-search:hover {
  background-color: #f4f4f4;
  color: #1d6a96;
  transition: 0.5s;
}

.dropdown-menu a {
  color: #f4f4f4;
}

.dropdown-menu a:hover {
  background-color: #1d6a96;
  color: #f4f4f4;
  transition: 0.6s;
}
.btn {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.tables {
  margin-top: 7%;
}
.table-header-custom-bg {
  background-color: #303539;
}
.btn-add {
  padding: 10px 20px;
}
.add-button {
  float: right;
  margin-top: 3%;
}
.bookForm {
  margin: 3%;
  padding: 8%;
}
.btn-add {
  margin-top: 2%;
  padding: 10px 30px;
}

.AccessoriesForm {
  margin: 3%;
  padding: 8%;
}

.btn-addAccessories {
  margin-top: 2%;
  padding: 10px 30px;
}
.navbar {
  display: flex;
  justify-content: space-around;
}
.navbar-menu {
  display: flex;
  align-items: center;
  transition: opacity 0.3s ease;
}
.navbar-toggle {
  display: none;
}

.navbar-menu.hidden {
  opacity: 0;
  visibility: hidden;
}
.navbar-link {
  color: #303539;
  text-decoration: none;
  padding: 10px;
  position: relative;
}
.navbar-link:hover {
  color: #1d6a96;
}
.navbar-link:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #1d6a96;
  left: 0;
  bottom: -5px;
  transition: all 0.3s ease-in-out;
}

.logo {
  width: 35%;
  height: 20%;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.search-icon {
  position: absolute;
  right: 10px;
  color: #1d6a96;
  font-size: 24px;
  cursor: pointer;
}

.search-input {
  display: none;
  width: 0;
  position: relative;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 25px;
  outline: none;
  opacity: 0;
  transition: width 5s ease-in-out, opacity 0.3s ease;
}

.search-container.expanded .search-input {
  display: block;
  width: 500px;
  opacity: 1;
}

.search-active .navbar-menu {
  display: none;
}

.navbar-toggle {
  display: none;
}

.navbar-toggle-icon {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}

/* Optional: Media query for responsiveness */
@media (max-width: 768px) {
  .navbar-toggle {
    display: block;
  }

  .navbar-menu {
    display: none;
  }

  .navbar-menu.open {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .search-active .navbar-menu {
    display: none;
  }
}

/* Home Page - section1 */

.first-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
  color: white;
  margin-top: 100px;
}

.left-part-s1 {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.left-part-s1 p {
  color: #303539;
  margin-top: 20px;
  text-align: justify;
}

.right-part-s1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.img1-s1 {
  width: 650px;
  height: 550px;
  position: relative;
  animation-name: img1;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.h1-s1 {
  margin-top: 50px;
  color: #030e26;
}

.h2-s1 {
  color: #1d6a96;
  font-style: italic;
  font-weight: 100;
}

.right-part-s1 {
  position: relative;
}
/* Second section */

.book-banner {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #030e26;
  height: 250px;
  flex: 1;
  padding: 0 10px;
}

.book-banner-content {
  flex: 1;
  margin-left: 20px;
  padding: 50px;
}

.book-banner-content h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #d1dddb;
}
.book-banner-content p {
  font-size: 1em;
  margin-bottom: 10px;
  text-align: justify;
  width: 700px;
  color: #d1dddb;
}

.more-button {
  padding: 10px 20px;
  background-color: #d1dddb;
  color: #030e26;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.more-button:hover {
  background-color: #030e26;
  color: #d1d1d1;
}

.book-covers {
  display: flex;
  align-items: center;
}

.book-covers img {
  width: 150px;
  height: 250px;
  object-fit: cover;
  margin-left: 10px;
}

/*Slider*/

.slide-container {
  width: 80%;
  margin: 15% auto;
}

.each-slide {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
}

.image-container::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

.image-container span {
  padding: 20px;
  border-radius: 5px;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
}
/*favorite and cart*/
.buttons-container {
  position: fixed;
  bottom: 20px;
  right: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
}

.link-on {
  background-color: rgba(29, 106, 150, 0.7);
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.link-on:hover {
  background-color: #13516e;
}

/* Account */

.container-logIn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 110vh;
  background-color: #f4f4f4;
}

.wrapper {
  position: relative;
  width: 520px;
  height: 700px;
  color: #303539;
  overflow: hidden;
  transition: height 0.5s ease;
}

.wrapper .form-box {
  position: absolute;
  width: 100%;
  padding: 40px;
  top: 0;
}

.wrapper .form-box.logIn {
  transition: transform 0.5s ease;
  transform: translateX(0);
}

.wrapper .form-box.register {
  transition: transform 0.5s ease;
  transform: translateX(100%);
}

.wrapper.active .form-box.logIn {
  transform: translateX(-100%);
}

.wrapper.active .form-box.register {
  transform: translateX(0);
}

form h1 {
  font-size: 36px;
  text-align: center;
}

.inputs-logIn {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.inputs-logIn-row {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0 15px;
  gap: 10px;
}

.inputs-logIn-row input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border: 2px solid rgb(15, 67, 101);
  border-radius: 40px;
  padding: 20px 45px 20px 20px;
}

.inputs-logIn input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border: 2px solid rgb(15, 67, 101);
  border-radius: 40px;
  padding: 20px 45px 20px 20px;
}

.inputs-logIn input::placeholder {
  color: #303539;
  padding-left: 10px;
}

.inputs-logIn .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

form .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0px 15px;
}

.remember-forgot label input {
  accent-color: #303539;
  margin-right: 4px;
}

.remember-forgot a {
  color: #303539;
  text-decoration: none;
}

.remember-forgot a:hover {
  color: #1d6a96;
}

form button {
  width: 100%;
  height: 45px;
  background-color: #0f4365;
  border: none;
  outline: none;
  border-radius: 40px;
  color: #f4f4f4;
  cursor: pointer;
}

form button:hover {
  color: #1d6a96;
  background-color: #f4f4f4;
  transition: 0.5s;
}

form .signUp-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.signUp-link p a {
  color: #303539;
  text-decoration: none;
  font-weight: 600;
}

.signUp-link p a:hover {
  color: #1d6a96;
  transition: 0.4s;
}

.inputs-logIn-row {
  display: flex;
  flex-direction: row;
}

/* dropdown menu 
 .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-top: 5px;
  display: none;
  min-width: 200px;
  z-index: 1000;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(10px);
  opacity: 0;
}

.dropdown-menu.show {
  display: block;
  transform: translateY(0);
  opacity: 1;
}

.dropdown-item {
  display: block;
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.dropdown-item:hover {
  background-color: #f8f9fa; } */



/* css per sidebar kategori */
.sidebarc {
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px; 
  height: 100%;
  background: #0f4365;
  color: #fff;
  bottom: 30%;
  border-radius: 30px;
  margin-top: 100px;
  height: 65%;
  border-radius: 12%;
}

.nav ul {
  list-style: none;
  padding: 0;
}

.nav ul li {
  margin: 10px 0; 
}

.nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 8px 16px; 
  display: block;
}

.nav ul li a:hover {
  background: #444;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  margin-left: 70px;
  padding: 20px;
  width: 300px;
  box-sizing: border-box;
  align-items: stretch;
  border-radius: 30px;
  position: relative; 
  overflow: hidden;
}
.card:hover {
  transform: scale(1.05); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.card-content {
  padding: 10px; 
}

.card-title {
  font-size: 20px; 

}

.card-author {
  font-style: italic; 
}

.card-price {
  font-weight: bold;
}
.buy-now-btn {
  background-color: #a90000; 
  color: white; 
  padding: 10px 20px; 
  font-size: 16px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  display: block;
  margin: 0 auto;
}

.buy-now-btn:hover {
  background-color: #b11c0f;
}
.main-content {
  background-color: #e8edee;
}
.card-image {
  height: 200px; 
  overflow: hidden; 
  border-radius: 5px 5px 0 0; 
  margin-bottom: 10px; 
}

.card-image img {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
  transition: transform 0.3s ease; 
}

.card:hover .card-image img {
  transform: scale(1.05); 
}