@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Rosarivo:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Libre Baskerville", serif;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

.sidebar {
  /* width: 250px; */
  height: 1900vh;
  margin: 10px;
  padding: 10px;
}

.list-group a {
  height: auto;
  background-color: #303539;
  color: #f4f4f4;
  border: none;
}

.list-group a:hover {
  background-color: #1d6a96;
  color: #f4f4f4;
  transition: 0.7s;
}

.custom-bg {
  background-color: #f4f4f4;
}

.brand-name {
  color: #1d6a96;
}
.sidebarColor-bg {
  background-color: #303539;
}

.col-2 {
  width: 300px;
}

.btn-search {
  background-color: #1d6a96;
  color: #f4f4f4;
  width: 150px;
  border: none;
}

.btn-search:hover {
  background-color: #f4f4f4;
  color: #1d6a96;
  transition: 0.5s;
}

.dropdown-menu a {
  color: #f4f4f4;
}

.dropdown-menu a:hover {
  background-color: #1d6a96;
  color: #f4f4f4;
  transition: 0.6s;
}
.btn {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.tables {
  margin-top: 7%;
}
.table-header-custom-bg {
  background-color: #303539;
}
.btn-add {
  padding: 10px 20px;
}
.add-button {
  float: right;
  margin-top: 3%;
}
.bookForm {
  margin: 3%;
  padding: 8%;
}
.btn-add {
  margin-top: 2%;
  padding: 10px 30px;
}

.AccessoriesForm {
  margin: 3%;
  padding: 8%;
}

.btn-addAccessories {
  margin-top: 2%;
  padding: 10px 30px;
}
.navbar {
  display: flex;
  justify-content: space-around;
}
.navbar-menu {
  display: flex;
  align-items: center;
  transition: opacity 0.3s ease;
}
.navbar-toggle {
  display: none;
}

.navbar-menu.hidden {
  opacity: 0;
  visibility: hidden;
}
.navbar-link {
  color: #303539;
  text-decoration: none;
  padding: 10px;
  position: relative;
}
.navbar-link:hover {
  color: #1d6a96;
}
.navbar-link:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #1d6a96;
  left: 0;
  bottom: -5px;
  transition: all 0.3s ease-in-out;
}

.logo {
  width: 35%;
  height: 20%;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.search-icon {
  position: absolute;
  right: 10px;
  color: #1d6a96;
  font-size: 24px;
  cursor: pointer;
}

.search-input {
  display: none;
  width: 0;
  position: relative;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 25px;
  outline: none;
  opacity: 0;
  transition: width 5s ease-in-out, opacity 0.3s ease;
}

.search-container.expanded .search-input {
  display: block;
  width: 500px;
  opacity: 1;
}

.search-active .navbar-menu {
  display: none;
}

.navbar-toggle {
  display: none;
}

.navbar-toggle-icon {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}

/* Optional: Media query for responsiveness */
@media (max-width: 768px) {
  .navbar-toggle {
    display: block;
  }

  .navbar-menu {
    display: none;
  }

  .navbar-menu.open {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .search-active .navbar-menu {
    display: none;
  }
}

/* Home Page - section1 */

.first-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
  color: white;
  margin-top: 100px;
}

.left-part-s1 {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.left-part-s1 p {
  color: #303539;
  margin-top: 20px;
  text-align: justify;
}

.right-part-s1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.img1-s1 {
  width: 650px;
  height: 550px;
  position: relative;
  animation-name: img1;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.h1-s1 {
  margin-top: 50px;
  color: #030e26;
}

.h2-s1 {
  color: #1d6a96;
  font-style: italic;
  font-weight: 100;
}

.right-part-s1 {
  position: relative;
}
/* Second section */

.book-banner {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #030e26;
  height: 270px;
  flex: 1;
  padding: 0 10px;
}

.book-banner-content {
  flex: 1;
  margin-left: 20px;
  padding: 50px;
}

.book-banner-content h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #d1dddb;
}
.book-banner-content p {
  font-size: 1em;
  margin-bottom: 10px;
  text-align: justify;
  width: 700px;
  color: #d1dddb;
}

.more-button {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #d1dddb;
  color: #030e26;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.more-button:hover {
  background-color: #030e26;
  color: #d1d1d1;
}

.book-covers {
  display: flex;
  align-items: center;
}

.book-covers img {
  width: 200px;
  height: 270px;
  object-fit: cover;
  margin-left: 10px;
}

/*Slider*/

.slide-container {
  width: 80%;
  margin: 15% auto;
}

.each-slide {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
}

.image-container::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

.image-container span {
  padding: 20px;
  border-radius: 5px;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
}
/*favorite and cart*/
.buttons-container {
  position: fixed;
  bottom: 20px;
  right: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
}

.link-on {
  background-color: rgba(29, 106, 150, 0.7);
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.link-on:hover {
  background-color: #13516e;
}

/* Account */

.container-logIn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: #f4f4f4;
  margin-bottom: 100px;
}

.wrapper {
  position: relative;
  width: 520px;
  height: 700px;
  color: #303539;
  overflow: hidden;
  transition: height 0.5s ease;
}

.wrapper .form-box {
  position: absolute;
  width: 100%;
  padding: 40px;
  top: 0;
}

.wrapper .form-box.logIn {
  transition: transform 0.5s ease;
  transform: translateX(0);
}

.wrapper .form-box.register {
  transition: transform 0.5s ease;
  transform: translateX(100%);
}

.wrapper.active .form-box.logIn {
  transform: translateX(-100%);
}

.wrapper.active .form-box.register {
  transform: translateX(0);
}

form h1 {
  font-size: 36px;
  text-align: center;
}

.inputs-logIn {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.inputs-logIn-row {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0 15px;
  gap: 10px;
}

.inputs-logIn-row input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border: 2px solid rgb(15, 67, 101);
  border-radius: 40px;
  padding: 20px 45px 20px 20px;
}

.accountform{
  width: 430px;
}

.inputs-logIn input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border: 2px solid rgb(15, 67, 101);
  border-radius: 40px;
  padding: 20px 45px 20px 20px;
}

.inputs-logIn input::placeholder {
  color: #303539;
  padding-left: 10px;
}

.inputs-logIn .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

form .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0px 15px;
}

.remember-forgot label input {
  accent-color: #303539;
  margin-right: 4px;
}

.remember-forgot a {
  color: #303539;
  text-decoration: none;
}

.remember-forgot a:hover {
  color: #1d6a96;
}

.acc-button {
  width: 100%;
  height: 45px;
  background-color: #0f4365;
  border: none;
  outline: none;
  border-radius: 40px;
  color: #f4f4f4;
  cursor: pointer;
}

form button:hover {
  color: #1d6a96;
  background-color: #f4f4f4;
  transition: 0.5s;
}

form .signUp-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.signUp-link p a {
  color: #303539;
  text-decoration: none;
  font-weight: 600;
}

.signUp-link p a:hover {
  color: #1d6a96;
  transition: 0.4s;
}

.inputs-logIn-row {
  display: flex;
  flex-direction: row;
}

/* dropdown menu 
 .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-top: 5px;
  display: none;
  min-width: 200px;
  z-index: 1000;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(10px);
  opacity: 0;
}

.dropdown-menu.show {
  display: block;
  transform: translateY(0);
  opacity: 1;
}

.dropdown-item {
  display: block;
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.dropdown-item:hover {
  background-color: #f8f9fa; } */

/* css per sidebar kategori */
.sidebarc {
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background: #88a0af;
  color: #fff;
  bottom: 30%;
  border-radius: 30px;
  margin-top: 210px;
  height: 65%;
  border-radius: 12%;
}

.nav ul {
  list-style: none;
  padding: 0;
}

.nav ul li {
  margin: 10px 0;
}

.nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  display: block;
}

.nav ul li a:hover {
  background: #444;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 150px;
  margin-right: 20px;
}
.language {
  display: flex;
  margin-left: 100px;
}

.language-link {
  margin-left: 30px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #030e26;
  padding: 10px;
  position: relative;
}
.language-link:hover {
  color: #1d6a96;
}
.language-link:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #1d6a96;
  left: 0;
  bottom: -5px;
  transition: all 0.3s ease-in-out;
}

.icon-container {
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: 1;
  position: absolute;
}

.favorite-icon {
  background-color: rgba(29, 106, 150, 0.7);
  color: white;
  border: none;
  padding: 8px;
  border-radius: 20%;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 2.5rem;
}

.card-item {
  display: inline-block;
  margin: 10px;
  text-align: center;
  position: relative;
  max-width: 200px;
}

.card-image {
  position: relative;
  overflow: hidden;
  height: 300px;
  width: 200px;
}

.book-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.card-content {
  padding: 10px;
  text-align: left;
  transition: opacity 0.3s;
  position: relative;
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
  max-width: 90%;
  color: #0f4365;
}

.card-author {
  font-size: 0.9rem;
  font-style: italic;
  color: #666;
}

.card-price {
  font-size: 1.1rem;
  font-weight: bold;
  color: #1d6a96;
}

.buy-now-btn {
  padding: 10px 20px;
  text-decoration: none;
  background-color: #030e26;
  color: #d1dddb;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.buy-now-btn:hover {
  background-color: #0f4365;
}

.dropup {
  position: absolute;
  bottom: -32%;
  width: 200px;
  height: 100%;
  display: none;
}

.dropup-content {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-item:hover .dropup {
  display: block;
}
.card-item:hover .card-content {
  opacity: 0;
  pointer-events: none;
}

/* Footer */

.footer-section {
  width: 100%;
  background-color: #101010;
  height: 700px;
  padding: 20px;
}

.first-partCU {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.left-partCU {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 60px;
  width: 440px;
  border: 1px solid#4e4e4e96;
  padding-left: 55px;
  padding-bottom: 40px;
  padding-right: 40px;
  margin-top: 50px;
}

.p1 {
  color: #d1d1d1;
  margin-left: -135px;
  margin-top: 20px;
}

.left-partCU H1 {
  color: #0f4365;
  font-size: 66px;
  margin-left: -160px;
}

.left-partCU p {
  color: #d1d1d1;
  margin-top: 20px;
}

form {
  width: 330px;
}

.inputs-contact {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.inputs-contact input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none; /* Remove all borders */
  border-bottom: 1px solid #d1d1d1; /* Add bottom border */
  color: #d1d1d1;
  outline: none;
  padding: 30px 45px 30px 30px;
}

.inputs-contact input::placeholder {
  color: #d1d1d1;
}

.right-partCU {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 60px;
  width: 410px;
  height: 510px;
  border: none;
  border-left: 1px solid#4e4e4e96;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  margin-top: 50px;
}

.list ul {
  list-style: none;
  color: #d1d1d1;
  margin-bottom: 30px;
}

.h {
  color: #0f4365;
  margin-bottom: 15px;
}

.button-CU {
  width: 330px;
  height: 40px;
  border: none;
  border-radius: 2px;
  background-color: #303539;
  color: #d1d1d1;
}

.button-CU:hover {
  background-color: #101010;
  color: white;
}

.list {
  margin-top: 55px;
}

.last-partF {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  padding: 20px;
}

.last-partF p a {
  color: #0f4365;
  padding-left: 20px;
  text-decoration: none;
}

.last-partF p a:hover {
  color: #d1d1d1;
}

/*Gift Card*/

.gift-card-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  margin-top: 90px;
}

.gift-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-right: 10px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: 300px;
}

.gift-card img {
  width: 100%;
  height: 200px;
  border-radius: 40%;
  margin-bottom: 10px;
}

.design-options {
  display: flex;
  margin-bottom: 50px;
}

.gift-card-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
}
.gift-card-details p {
  margin: 5px 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #030e26;
  text-align: left;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
}

.form h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.form label {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}

.form input,
.form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 14px;
}

.form button[type="submit"] {
  background-color: #0f4365;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.form button[type="submit"]:hover {
  background-color: #030e26;
}
/* Preview design */
.design-options button {
  border: none;
  background: none;
  padding: 0;
  margin-right: 20px;
}

.design-preview {
  width: 90px;
  height: 70px;
  margin-bottom: 5px;
  cursor: pointer;
}

.design-preview:hover {
  opacity: 0.8;
}

/*Cart*/
.Cart-container {
  display: flex;
  flex-direction: column;
  justify-content: space-eve;
  align-items: center;
  height: 100vh;
}
.keep-shopping-link {
  margin-right: auto;
  text-decoration: none;
  color: #030e26;
}
.keep-shopping-link:hover {
  color: #0f4365;
}

.checkoutLayout {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 900px;
  margin: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.52);
}

/* Header styles */
.return-Cart {
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.return-Cart h1 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

.produckt-list-Cart {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.item-Cart {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.item-Cart img {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.info-Cart {
  padding: 10px;
}

.name-Cart {
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

.price-Cart {
  font-size: 16px;
  color: #666;
}

.quantity-Cart {
  padding: 10px;
  font-size: 16px;
  color: #333;
}

.returnPrice-Cart {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #e6572c;
}
.right-cart {
  padding: 40px;
  margin: 90px 40px 20px 170px;
  box-shadow: 0px 0px 10px #030e265b;
  border-radius: 20px;
}

.right-Cart h1 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

.form-Cart {
  margin-top: 20px;
}

.group-Cart {
  margin-bottom: 20px;
}

.label-Cart {
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

.group-Cart input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.return-Cart {
  margin-top: 20px;
}

.row-Cart {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.totalQuantity,
.totalPrice {
  font-size: 18px;
  font-weight: bold;
  color: #1d6a96;
  margin-bottom: 10px;
}

.buttonCheckout {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #0f4365;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonCheckout:hover {
  background-color: #13516e;
  color: #fff;
}
/* Accessories */
.Acc-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 30px;
  padding: 10px 20px;
}
.Acc-container .AccData-box {
  width: 200px;
  height: 300px;
  overflow: hidden;
  margin-top: 20px;
  background-color: #e6ebf0d1;
  padding: 5px 10px;
  margin-left: 20px;
  cursor: pointer;
}
.Acc-container .AccData-box .Acc-content {
  margin-bottom: 200px;
}
.Acc-container .AccData-box .Acc-content .Acc-img-box img {
  width: 160px;
  height: 170px;
  object-fit: cover;
  margin-left: 10px;
}

.Acc-container .AccData-box .Acc-content .Acc-detail .Acc-info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.Acc-container .AccData-box .Acc-content .Acc-detail .Acc-info h5 {
  color: #0f4365;
  text-transform: capitalize;
  font-weight: 200;
  margin-right: 1px;
  font-size: large;
}
.Acc-container .AccData-box .Acc-content .Acc-detail .Acc-button {
  margin-left: 25%;
  padding: 7px 20px;
  border: none;
  outline: none;
  background-color: #0f4365;
  color: #fff;
  cursor: pointer;
  border-radius: 7px;
  /* position: sticky; */
}
.Acc-detail-container {
  position: static;
  z-index: 1;
  align-items: center;
  width: 900px;
  background: #fff;
  margin-left: 20%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 1px solid #427bb90c;
  padding: 20px 30px;
  border-radius: 5px;
}
.Acc-detail-container .Acc-detail-content {
  max-width: 100%;
}
.Acc-detail-container .Acc-detail-content .Acc-close {
  border: none;
  outline: none;
  background-color: none;
  cursor: pointer;
}
.Acc-detail-container .Acc-detail-content .Acc-detail-info {
  display: flex;
  justify-content: space-between;
}
.Acc-detail-container .Acc-detail-content .Acc-detail-info .Acc-img-box img {
  width: 250px;
  height: 250px;
}
.Acc-detail-container .Acc-detail-content .Acc-detail-info .Accessory_Details {
  margin-left: 30px;
  align-items: center;
}
.Acc-detail-container
  .Acc-detail-content
  .Acc-detail-info
  .Accessory_Details
  h4 {
  color: #0f4365;
  text-transform: capitalize;
  font-weight: 200;
  word-wrap: break-word;
  margin-top: 10px;
}
.Acc-detail-container
  .Acc-detail-content
  .Acc-detail-info
  .Accessory_Details
  h5 {
  margin-top: 10px;
  color: #030e26;
}
.Acc-detail-container
  .Acc-detail-content
  .Acc-detail-info
  .Accessory_Details
  p {
  margin-top: 10px;
  margin-right: 30px;
  color: #4e5357;
}

.Acc-detail-container
  .Acc-detail-content
  .Acc-detail-info
  .Accessory_Details
  button {
  margin-top: 20px;
  padding: 10px 30px;
  border: none;
  outline: none;
  background: none;
  background: #0f4365;
  color: #fff;
  cursor: pointer;
  border-radius: 7px;
  margin-left: 10px;
}
.accessories {
  scroll-behavior: smooth;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.Acc-Topbtn {
  background: #0f4365;
  border-radius: 8px;
  margin-left: 10px;
  color: #fff;
  width: 50px;
  height: 35px;
}
.Acc-btn-p {
  color: #0f4365;
  margin-left: 90%;
}
